environments:
  dev: {}
---
repositories:
  - name: eftechcombr
    url: git+https://github.com/ohemelaar-dinum/glpi@helm?ref=feat-custom-nginx-config

---
releases:
  - name: glpi
    namespace: {{ .Namespace }}
    chart: eftechcombr/glpi
    version: 2.11.6
    missingFileHandler: Warn
    values:
      - env/{{ .Environment.Name }}/values.yaml
    strategicMergePatches:
      - env/{{ .Environment.Name }}/patches.yaml
