apiVersion: batch/v1
kind: Job
metadata:
  name: glpi-verify-dir
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values: ["php-fpm"]
                  - key: app.kubernetes.io/instance
                    operator: In
                    values: ["glpi"]
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["glpi"]
              topologyKey: kubernetes.io/hostname
---
apiVersion: batch/v1
kind: Job
metadata:
  name: glpi-db-upgrade
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      containers:
      - name: base
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 512Mi
      initContainers:
      - name: wait-for-mariadb
        securityContext:
          allowPrivilegeEscalation: false
          seccompProfile:
            type: RuntimeDefault
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values: ["php-fpm"]
                  - key: app.kubernetes.io/instance
                    operator: In
                    values: ["glpi"]
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["glpi"]
              topologyKey: kubernetes.io/hostname
---
apiVersion: batch/v1
kind: Job
metadata:
  name: glpi-db-configure
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      initContainers:
      - name: wait-for-mariadb
        securityContext:
          allowPrivilegeEscalation: false
          seccompProfile:
            type: RuntimeDefault
      containers:
      - name: base
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 512Mi
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values: ["php-fpm"]
                  - key: app.kubernetes.io/instance
                    operator: In
                    values: ["glpi"]
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["glpi"]
              topologyKey: kubernetes.io/hostname
---
apiVersion: batch/v1
kind: Job
metadata:
  name: glpi-db-install
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      containers:
      - name: base
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 512Mi
      initContainers:
      - name: wait-for-mariadb
        securityContext:
          allowPrivilegeEscalation: false
          seccompProfile:
            type: RuntimeDefault
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values: ["php-fpm"]
                  - key: app.kubernetes.io/instance
                    operator: In
                    values: ["glpi"]
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["glpi"]
              topologyKey: kubernetes.io/hostname
---
apiVersion: batch/v1
kind: Job
metadata:
  name: glpi-cache-configure
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      containers:
      - name: base
        resources:
          limits:
            memory: 512Mi
          requests:
            memory: 512Mi
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/component
                    operator: In
                    values: ["php-fpm"]
                  - key: app.kubernetes.io/instance
                    operator: In
                    values: ["glpi"]
                  - key: app.kubernetes.io/name
                    operator: In
                    values: ["glpi"]
              topologyKey: kubernetes.io/hostname
